[submodule "0-frameworks/cux/3rdparty/googletest"]
	path = 0-frameworks/cux/3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "pocket-ai"]
	path = pocket-ai
	url = https://github.com/cjmcv/pocket-ai.git
